.Person {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.PersonWrapper {
    cursor: pointer;
    background-color: beige;
    padding: 10px;
}

.deleteButton {
    cursor: pointer;
    padding: 5px;
    color: #ffffff;
    background-color: red;
    border: 1px solid #000000;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}